@model IEnumerable<Product>

@{
    ViewData["Title"] = "Products";
}

<h3>Produkter</h3>
<table class="table">
<thead>
    <tr>
        <th>Namn</th>
        <th>Kalorier</th>
        <th>Protein</th>
      
        <th></th>
    </tr>
</thead>
<tbody>

    @foreach (var item in Model)
    {
        <tr class="table">
            
                <td>
                    <h6>@item.Name</h6>
                </td>
            <td>
                @item.Cal
            </td>
            <td>
                @item.Protein
            </td>
            <td>
                <a class="btn btn-primary" asp-controller="Cart" asp-action="Add" asp-route-id="@item.Id">Lägg Till</a>
            </td>
        </tr>
    }
    </tbody>
</table>

    @if (ViewBag.TotalPages > 1)
    {
        <div class="d-flex w-100 justify-content-center">
            <pagination page-count="@ViewBag.TotalPages"
                    page-target="/products/@ViewBag.CategorySlug"
                    page-number="@ViewBag.PageNumber"
                    page-range="@ViewBag.PageRange">
            </pagination>
        </div>
    }




    @if (ViewBag.TotalPages > 1)
    {
        <div class="d-flex w-100 justify-content-center">
            <pagination page-count="@ViewBag.TotalPages"
                    page-target="/products/@ViewBag.CategorySlug"
                    page-number="@ViewBag.PageNumber"
                    page-range="@ViewBag.PageRange">
            </pagination>
        </div>
    }


